/* Box sizing*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Fuentes */
html{
    font-size:62.5%; /*Poder trabajar con rem Medida relativa en fuentes*/
    font-family: "DM Sans", sans-serif;
}


body{
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}


body div{
    display:flex;
    width:100%;
    height:auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    margin-bottom:50px;
    
   
}

.button {
    margin-left: 10px;
    border: none;
    border-radius:5px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    background-color:#339BFF;
    color: white;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold;
    height:30px;
    transition: all 0.3s;
    width:120px;
}

.button:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
 }

 .main-container-images{
    display:flex;
    position: absolute;
    top: 70px;
    justify-content:center;
    align-items:center;
    margin:0 auto;
 }

 .dog_img{
     padding: 20px;
     width:250px;
     height: 300px;
     
    
 }